about-time==3.1.1
aiohttp==3.9.5
aiosignal==1.3.1
alive-progress==2.4.1
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
argcomplete==3.5.1
astroid==2.13.5
asttokens==2.4.1
async-generator==1.10
async-timeout==4.0.3
attrs==24.2.0
autoslot==2021.10.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.11.1
beautifultable==1.1.0
black==24.3.0
blinker==1.8.2
bm25s==0.1.10
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.17
click==8.1.7
codespell==2.3.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.0
cryptography==43.0.0
cycler==0.12.1
dataclasses-json==0.6.7
db-dtypes==1.3.0
debugpy==1.8.5
decorator==5.1.1
defog==0.65.8
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
-e git+https://github.com/nmmapper/dnsdumpster.git@b10071e294a1652aaa054aa0bdfada3d8d9b0cdb#egg=dnsdumpster
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.112.1
fastapi-cli==0.0.4
filelock==3.15.4
flasgger==0.9.7.1
Flask==3.0.3
flask-sock==0.7.0
flatbuffers==24.3.25
fonttools==4.55.6
frozenlist==1.4.1
fsspec==2024.6.1
geographiclib==2.0
geopy==2.3.0
ghunt==2.0.4
google-auth==2.34.0
googleapis-common-protos==1.63.2
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.65.5
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httptools==0.6.1
httpx==0.23.1
huggingface-hub==0.24.6
humanfriendly==10.0
humanize==4.4.0
hyperframe==6.0.1
identify==2.6.0
idna==3.8
ImageHash==4.3.1
importlib_metadata==8.4.0
importlib_resources==6.4.3
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==2.2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kaleido==0.2.1
kiwisolver==1.4.7
kubernetes==30.1.0
lazy-object-proxy==1.10.0
llama-cloud==0.0.10
-e git+https://github.com/run-llama/llama_index.git@806899cb55660a7ad21c4a318b2d3ab26c8e09da#egg=llama_index
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.58
llama-index-embeddings-ollama==0.1.2
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-ollama==0.2.2
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-index-retrievers-bm25==0.2.2
llama-parse==0.4.9
llama_cpp_python==0.2.83
-e git+https://github.com/ml-explore/mlx-examples.git@cefe793ae0991b394b89c497d92afc6459490460#egg=lora&subdirectory=lora
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
mypy==0.991
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
nodeenv==1.9.1
numpy==2.0.2
oauthlib==3.2.2
ollama==0.3.1
onnx==1.16.2
onnxruntime==1.19.0
onnxscript==0.1.0.dev20240831
openai==1.37.0
opentelemetry-api==1.16.0
opentelemetry-exporter-otlp-proto-grpc==1.16.0
opentelemetry-proto==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.3.0
pipenv==2024.4.0
pipx==1.7.1
platformdirs==4.2.2
plotly==5.23.0
pluggy==1.5.0
posthog==3.5.0
pre-commit==3.2.0
prompt_toolkit==3.0.47
protobuf==4.21.9
psutil==6.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.5.0
pure_eval==0.2.3
pwinput==1.0.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pylint==2.15.10
pyparsing==3.2.1
pypdf==4.3.1
PyPika==0.48.9
PyStemmer==2.2.0.1
pytest==8.3.1
pytest-asyncio==0.23.8
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pyvis==0.3.2
PyWavelets==1.6.0
PyYAML==6.0.2
pyzmq==26.1.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==12.6.0
rpds-py==0.20.0
rsa==4.9
ruff==0.0.292
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.1
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
skops==0.11.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.32
sqlcoder==0.2.5
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.38.2
striprtf==0.0.26
sympy==1.13.2
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenize-rt==5.2.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.13.0
torch==2.4.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
trio==0.21.0
typer==0.12.4
types-cffi==1.16.0.20240331
types-Deprecated==1.2.9.20240311
types-docutils==0.21.0.20240724
types-protobuf==4.25.0.20240417
types-pyOpenSSL==24.1.0.20240722
types-PyYAML==6.0.12.20240724
types-redis==4.5.5.0
types-requests==2.28.11.8
types-setuptools==67.1.0.0
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
userpath==1.9.2
uvicorn==0.30.6
uvloop==0.20.0
vanna==0.6.6
virtualenv==20.26.3
watchfiles==0.23.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.20.1
